{
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "parser": "html",
        "printWidth": 120,
        "tabWidth": 2,
        "singleQuote": false,
        "bracketSameLine": false,
        "htmlWhitespaceSensitivity": "ignore"
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "singleQuote": true,
        "semi": true
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "singleQuote": false,
        "trailingComma": "none"
      }
    }
  ]
}